aside{
  position: fixed;
  height: 300px;
  width: 100px;
  right: -100px;
  top: calc(50% - 150px);
  background-color: #ccc;
  border-radius: 0 0 0 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 1s;
}
aside h2{
  position: absolute;
  width: 40px;
  height: 70px;
  background-color: #ccc;
  left: -40px;
  top: 0px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
aside h2::before{
  content:"";
  display: block;
  transform-origin: center;
  width: 15px;
  height: 15px;
  border: 3px solid #333;
  border-right: transparent;
  border-bottom: transparent;
  transform: rotate(-45deg);
  transition: all 0.3s;
}
aside h2.rot180::before{
  transform:rotate(135deg);
}
/* .rot180{
  transform: rotate(180deg);
  border-radius: 0 10px 10px 0;
} */
aside h3{
    font-size: 20px;
  line-height: 2;
  margin-bottom: 30px;
}
aside ul{

}
aside ul li{
line-height: 2;
  font-size: 12px;
}
.asideShow{
  right: 0px;
}


